<a href="https://colab.research.google.com/github/epheemeeral/labs/blob/main/%D0%BB%D0%B0%D0%B1%D0%B04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Выполнила: Федышина София Павловна

#Группа: АДЭУ-221

#E-mail: fedyshina.sofiya@mail.ru
#№4.2.1

Рассчитать значение f при заданном значении вещественного числа x:
![image.png]()
      При выводе на экран оставьте 2 знака после запятой.

In [ ]:
x = int(input("введите число x: "))

if x >= 0:
    f = (x**(1/2))+(x**2)
else:
    f = 1/x
print('f = ', round(f,2))
# --------------
# Пример вывода:
#
# Введите число x: -10
# f = -0.10

# Введите число x: 0
# f = 0.00

# Введите число x: 10
# f = 103.16

введите число x: 10
f =  103.16

#№4.2.2

Определите максимальное и минимальное значения из двух различных целых чисел.

In [ ]:
a1 = int(input('Введите первое число: '))
a2 = int(input('Введите второе число: ' ))
a=[a1, a2] #список 
print("минимум:", min(a))
print("максимум:", max(a))
# --------------
# Пример вывода:
#
# Введите первое число: 1
# Введите второе число: 2
# Максимум: 2, минимум: 1

# Введите первое число: 5
# Введите второе число: 5
# Максимум: 5, минимум: 5

# Введите первое число: 100
# Введите второе число: -1
# Максимум: 100, минимум: -1

Введите первое число: 1
Введите второе число: 2
минимум: 1
максимум: 2

#№ 4.2.3

Вася пытается высунуть голову в форточку размерами a и b см. Приняв условно, что его голова - круглая диаметром d см, определите, сможет ли Вася сделать это. Для прохождения головы в форточку необходим зазор в 1 см. с каждой стороны
Все величины - целые числа.

In [ ]:
a = int(input("Ширина форточки: "))
b = int(input("Высота форточки: "))
d = int(input("Диаметр головы: "))
fix = 1
if (a - d >= fix) and (b - d >= fix):
    print("Да")
else:
    print("Нет")
# --------------
# Пример вывода:
#
# Ширина форточки: 5
# Высота форточки: 6
# Диаметр головы: 6
# Нет

# Ширина форточки: 6
# Высота форточки: 7
# Диаметр головы: 4
# Да

Ширина форточки: 5
Высота форточки: 6
Диаметр головы: 6
Нет

#№ 4.2.4

Известны год и номер месяца сегодняшнего дня, а также год и номер месяца рождения человека (нумерация месяцев с 1: январь - 1 и т.д.). Определите возраст человека (число полных лет).

In [ ]:
year_today = int(input('Введите текущий год: '))
month_today = int(input('Введите текущий месяц: '))
year = int(input('Введите год рождения: '))
month = int(input('Введите месяц рождения: '))
age = year_today-year
print('Число полных лет:', age)
# --------------
# Пример вывода:
#
# Введите текущий год: 2017
# Введите текущий месяц: 5
# Введите год рождения: 2000
# Введите месяц рождения: 1
# Число полных лет:  17
#
# Введите текущий год: 2015
# Введите текущий месяц: 6
# Введите год рождения: 2010
# Введите месяц рождения: 8
# Число полных лет:  4
#
# Введите текущий год: 2020
# Введите текущий месяц: 5
# Введите год рождения: 2000
# Введите месяц рождения: 5
# Число полных лет:  20

Введите текущий год: 2017
Введите текущий месяц: 5
Введите год рождения: 2000
Введите месяц рождения: 1
Число полных лет: 17

#№ 4.2.5

Дана точка с целыми ненулевыми координатами (x;y). Определить номер четверти координатной плоскости, которой она принадлежит.

In [ ]:
x = int(input("введите координату x: "))
y = int(input("введите координату y: "))

if x>0 and y>0:
    print("1-я четверть")
elif x<0 and y>0:
  print("2-я четверть")
elif x<0 and y<0:
  print("3-я четверть")
elif x>0 and y<0:
  print("4-я четверть")
# --------------
# Пример вывода:
#
# Введите координату x: 5
# Введите координату y: 7
# 1-я четверть

введите координату x: 5
введите координату y: 7
1-я четверть

#№ 4.2.6

Даны вещественные числа a, b, c (a≠0).

Решите уравнение ax^2+bx+c=0. При выводе значений оставьте 1 знак после запятой.

In [ ]:
a = float(input('a= '))
b = float(input('b= '))
c = float(input('c= '))
d = ((b**2)-(4*a*c))
if d<0:
    print('решений нет')
elif d==0:
    x1 = ((-1*b)/2*a)
    print('x = ', x1, round(x1, 2))
elif d>0:
    x2 = (((-1*b)+(d**(1/2)))/2*a)
    x1 = (((-1*b)-(d**(1/2)))/2*a)
    print('x1 =',x1,'x2 =',x2, round(x1, 2), round(x2, 2))
# --------------
# Пример вывода:
#
# a = 1
# b = 2
# c = 3
# Решений нет
#
# a = 1
# b = 2
# c = 1
# x = -1.0
#
# a = 1
# b = 3
# c = -4
# x1 = -4.0, x2 = 1.0

a= 1
b= 2
c= 1
x =  -1.0 -1.0

#№ 4.2.7

Дана непустая последовательность целых чисел, оканчивающаяся нулем. Найти сумму и количество введенных чисел.

In [ ]:
nums_sum = 0
nums_count = 0
x = int(input()) 
while x != 0:
    nums_count += 1
    nums_sum += x
    x = int(input())
print("Сумма = ", nums_sum)
print("Количество = ", nums_count)
# --------------
# Пример вывода:
#
# Введите 1-е число: 1
# Введите 2-е число: 2
# Введите 3-е число: 3
# Введите 4-е число: 4
# Введите 5-е число: 0
# Сумма = 10
# Количество = 4
#
# Введите 1-е число: 0
# Сумма = 0
# Количество = 0

1
2
3
4
0
Сумма =  10
Количество =  4

#№4.2.8

Дано число n. Из чисел 0,5,10,15,20,25,... напечатать те, которые не превышают n.

In [ ]:
n = int(input("n = "))
for i in range(0, n+1, 5): #лист старт стоп степ
    print(i) 
# --------------
# Пример вывода:
#
# n = 0
# 0
#
# n = 10
# 0
# 5
# 10
#
# n = 12
# 0
# 5
# 10

n = 10
0
5
10

#№ 4.2.9

Дано вещественное число a. Найдите наименьшее натуральное n, для которого верно:
![image.png]()

In [13]:
a = float(input("a = "))
x_sum = 0
n = 0
while x_sum <= a:
    n += 1
    x_sum += 1/n
print("n =", n)
# --------------
# Пример вывода:
#
# a = 1.5
# n = 3
#
# a = 2
# n = 4

a = 1.5
n = 3

#№ 4.2.10

Дано натуральное число. Определите сумму и количество его цифр.

In [ ]:
n = int(input("n = "))
result = n #для вывода 
n_sum = 0 
n_count = 0
while n != 0:
    n_sum += n % 10 #+= это  n_sum=n_sum+1
    n_count += 1 
    n = n//10
print(f"n = {result}\nСумма = {n_sum}\nКоличество = {n_count}")
# --------------
# Пример вывода:
#
# n = 12345
# Сумма = 15
# Количество = 5

n = 12345
n = 12345
Сумма = 15
Количество = 5

#№ 4.2.11

Вывести в строку 10 первых натуральных чисел, оканчивающихся на цифру k, кратных числу s и находящихся в интервале, левая граница которого равна start.

In [14]:
start = int(input("start = "))
k = int(input('k = '))
s = int(input('s = '))
n_count = ""
while len(n_count.split()) != 10:
    if start % 10 == k and start % s == 0:
        n_count += f"{start} "
    start += 1
print(n_count)
# --------------
# Пример вывода:
#
# start = 100
# k = 7
# s = 9
# 117 207 297 387 477 567 657 747 837 927

start = 100
k = 7
s = 9
117 207 297 387 477 567 657 747 837 927

#№ 4.2.12

Даны целые числа a и b (a может быть больше b). Напечатайте:

• числа от минимального до максимального в строчку (разделяя пробелом);

• числа от максимального до минимального «столбиком».

In [ ]:
a = int(input('a = '))
b = int(input('b = '))
result = ""
for i in range(a, b + 1):
    result += f"{i} "
print(result)
for i in range(b, a - 1, -1):
    print(i)
# --------------
# Пример вывода:
#
# a = 1
# b = 5
# 1 2 3 4 5
# 5
# 4
# 3
# 2
# 1

a = 1
b = 5
1 2 3 4 5
5
4
3
2
1

#№ 4.2.13

Для введенных с клавиатуры положительных целых чисел a и b (a≤b) определите:

• сумму всех целых чисел от a до b;

• произведение всех целых чисел от a до b;

• среднее арифметическое всех целых чисел от a до b;

• среднее геометрическое нечетных чисел от a до b.

Отрезок поиска включает сами числа a и b. При выводе вещественных результатов оставьте два знака после запятой.

In [ ]:
 = # Удалите комментарий и допишите код
b = # Удалите комментарий и допишите код

# Удалите комментарий и допишите код

print("Сумма =", n_sum)
print("Произведение =", n_mult)
print("Среднее арифметическое = {!!!}".format(n_avg))
print("Среднее геометрическое нечетных чисел = {!!!}".format(n_avg_geom))

# --------------
# Пример вывода:
#
# a = 1
# b = 5
# Сумма = 15
# Произведение = 120
# Среднее арифметическое = 3.00
# Среднее геометрическое нечетных чисел = 2.47

#№ 4.2.14

Начав тренировки, лыжник в первый день пробежал s км. (s>0, вещественное число). Каждый следующий день он увеличивал пробег на p % (0<p≤100, вещественное число) от пробега предыдущего дня. Определите:

• пробег лыжника за второй, третий, …, десятый день тренировок;

• какой суммарный путь он пробежал за первые 10 дней тренировок.

При выводе вещественных результатов оставьте один знак после запятой.

In [ ]:
s = # Удалите комментарий и допишите код
p = # Удалите комментарий и допишите код

total = s
# Удалите комментарий и допишите код

print("Суммарный пробег: {:.1f} км.".format(total))

# --------------
# Пример вывода:
#
# Пробег за 1-й день (км.) = 5
# На сколько увеличивает пробег (%) = 10
# Пробег за 2-й день: 5.5 км.
# Пробег за 3-й день: 6.1 км.
# Пробег за 4-й день: 6.7 км.
# Пробег за 5-й день: 7.3 км.
# Пробег за 6-й день: 8.1 км.
# Пробег за 7-й день: 8.9 км.
# Пробег за 8-й день: 9.7 км.
# Пробег за 9-й день: 10.7 км.
# Пробег за 10-й день: 11.8 км.
# Суммарный пробег: 79.7 км.

#№ 4.2.15

Известна масса каждого предмета в кг., загружаемого в грузовик. Определить, возможна ли перевозка груза, если грузоподъемность грузовика равна p кг.

In [ ]:
p = # Удалите комментарий и допишите код
n = # Удалите комментарий и допишите код

total = 0
# Удалите комментарий и допишите код

# --------------
# Пример вывода:
#
# Грузоподъемность грузовика (кг.) = 10
# Количество предметов = 2
# Масса 1-го предмета (кг.) = 3
# Масса 2-го предмета (кг.) = 3
# Да

#№ 4.2.16

В области несколько районов. Заданы площади, засеваемые пшеницей (га.), и средняя урожайность (ц/га) в каждом районе.

Определите количество пшеницы, собранное по области. При выводе вещественных результатов оставьте один знак после запятой.

In [16]:
n = int(input(' колчество районов: '))

total = list() 
for i in range(n):
    s = float(input('площадь района (га): '))
    p = float(input('урожайность в районе (ц/га.): ')) 
    j = p*s
    total.append(j)

print(round(sum(total), 1))

# --------------
# Пример вывода:
#
# Количество районов = 3
# Площадь 1-го района (га) = 4
# Урожайность в 1-м районе (ц/га.) = 2
# Площадь 2-го района (га) = 7
# Урожайность в 2-м районе (ц/га.) = 3
# Площадь 3-го района (га) = 9
# Урожайность в 3-м районе (ц/га.) = 4
# Собрано пшеницы: 65.0 ц.

 колчество районов: 3
площадь района (га): 4
урожайность в районе (ц/га.): 2
площадь района (га): 7
урожайность в районе (ц/га.): 3
площадь района (га): 9
урожайность в районе (ц/га.): 4
65.0

#№ 4.2.17

Решите задачу № 4.2.7, организовав бесконечный цикл, который бы прерывался при выполнении условия, используя оператор break.

№ 4.2.7

Дана непустая последовательность целых чисел, оканчивающаяся нулем. Найти сумму и количество введенных чисел.

In [ ]:
nums_sum = 0  # сумма
nums_count = 0  # количество

# Удалите комментарий и допишите код

# --------------
# Пример вывода:
#
# Введите 1-е число: 1
# Введите 2-е число: 2
# Введите 3-е число: 3
# Введите 4-е число: 4
# Введите 5-е число: 0
# Сумма = 10
# Количество = 4
#
# Введите 1-е число: 0
# Сумма = 0
# Количество = 0

#№ 4.2.18

Предложение, введенное с клавиатуры, содержит слова из гласных и согласных букв кириллицы (регистр может быть различный), а также пробелы.

Определите количество гласных и согласных букв в предложении. Для пропуска пробелов используйте оператор continue.

In [1]:
sentence = input()

count_gl = 0
count_sogl = 0
probel = 0

for i in sentence.lower():
    if i in 'уеоаиюыёэ':
        count_gl += 1
    elif i == " ":
        probel += 1
    else:
        count_sogl += 1

print(f"Гласных - {count_gl}\nСогласных - {count_sogl}\nПробелы - {probel}")
# --------------
# Пример вывода:
#
# Введите предложение: Программирование
# Кол-во букв в предложении: гласных - 7, согласных - 9

Программирование
Гласных - 7
Согласных - 9
Пробелы - 0

#№ 4.2.19

Выведите на экран (в строку) все целые числа от a до b, кратные некоторому числу c.

In [8]:
a = int(input())
b = int(input())
c = int(input())

string = ""

for i in range(a, b+1):
    if i % c == 0:
        string += f"{i} "

print(string)
# --------------
# Пример вывода:
#
# a = 1
# b = 10
# c = 2
# 2 4 6 8 10

1
10
2
2 4 6 8 10

#№ 4.2.20

Выведите на экран (в строку) все трехзначные натуральные числа, сумма цифр которых равна целому числу n (0<n≤27).

In [6]:
n = int(input())
digit = 100
result = ""
while digit < 1000:

    if digit % 10 + digit % 100 // 10 + digit // 100 == n:
        result += f"{digit} "

    digit += 1

print(result)
# --------------
# Пример вывода:
#
# n = 3
# 102 111 120 201 210 300

3
102 111 120 201 210 300

#№ 4.2.21

Известно количество учеников в классе и их рост (см.); рост мальчиков условно задан отрицательными числами. Определите средний рост мальчиков и средний рост девочек.

При выводе вещественных результатов оставьте один знак после запятой.

In [5]:
r_sr_m = 0
r_sr_d = 0
n = int(input())
count = 0
for i in range(n):
    height = int(input())

    if height < 0:
        r_sr_m += height * -1
        count += 1
    else:
        r_sr_d += height

print(f"Средний рост мальчиков: {r_sr_m / count}\nСредний рост девочек: {r_sr_d / (n - count)}")
# --------------
# Пример вывода:
#
# n = 5
# Рост 1-го ученика = 150
# Рост 2-го ученика = -150
# Рост 3-го ученика = 160
# Рост 4-го ученика = 170
# Рост 5-го ученика = 180
# Средний рост мальчиков: 150.0
# Средний рост девочек: 165.0

5
150
-150
160
170
180
Средний рост мальчиков: 150.0
Средний рост девочек: 165.0

#№ 4.2.22

Даны n вещественных чисел. Определите максимальное и минимальное из них.

При выводе вещественных результатов оставьте два знака после запятой

In [4]:
n = int(input())

a_max = -13451352353453
a_min = 145345345345345

for i in range(n):
    digit = float(input())

    if digit > a_max:
        a_max = digit

    if digit < a_min:
        a_min = digit

print(f"Максимум: {a_max:.2f}\nМинимум: {a_min:.2f}")

# --------------
# Пример вывода:
#
# n = 4
# 1-е число = 6.2
# 2-е число = 3.8
# 3-е число = 1.1
# 4-е число = 9.66
# Максимум: 9.66
# Минимум: 1.10

4
6.2
3.8
1.1
9.66
Максимум: 9.66
Минимум: 1.10

#№ 4.2.23

Дано натуральное число n. Определите, является ли оно членом последовательности Фибоначчи.

In [3]:
fib = [0, 1]

for i in range(100):
    fib.append(fib[-1]+fib[-2])

print("Является" if int(input()) in fib else "Не является")
# --------------
# Пример вывода:
#
# n = 7
# Не является
#
# n = 8
# Является

7
Не является

#№ 4.2.24

Дано n вещественных чисел. Определите, является ли последовательность упорядоченной по возрастанию. В случае отрицательного ответа выведите порядковый номер числа, нарушающего такую упорядоченность.

In [ ]:
n = # Удалите комментарий и допишите код

# -1 означает, что последовательность упорядочена по возрастанию
# Если это не так, 'index' меняется в цикле на индекс элемента,
# нарушающего порядок
index = -1

prev = float(input("1-е число = "))
for # Удалите комментарий и допишите код
# Удалите комментарий и допишите код

# --------------
# Пример вывода:
#
# n = 4
# 1-е число = 2
# 2-е число = 4.6
# 3-е число = 6
# 4-е число = 8.3
# Является
#
# n = 3
# 1-е число = 3
# 2-е число = 3
# 2

#№ 4.2.25

Выведите на экран таблицу умножения на n (2<n≤9) в виде:

In [ ]:
n = # Удалите комментарий и допишите код

# Удалите комментарий и допишите код

# --------------
# Пример вывода:
#
# n = 5
# 1 * 1 =  1  1 * 2 =  2  1 * 3 =  3  1 * 4 =  4  1 * 5 =  5
# 2 * 1 =  2  2 * 2 =  4  2 * 3 =  6  2 * 4 =  8  2 * 5 = 10
# 3 * 1 =  3  3 * 2 =  6  3 * 3 =  9  3 * 4 = 12  3 * 5 = 15
# 4 * 1 =  4  4 * 2 =  8  4 * 3 = 12  4 * 4 = 16  4 * 5 = 20
# 5 * 1 =  5  5 * 2 = 10  5 * 3 = 15  5 * 4 = 20  5 * 5 = 25

#№ 4.2.26

Выведите графическое изображения делимости чисел от 1 до n (значение n вводится с клавиатуры) - в каждой строке напечатайте очередное число и столько символов *, сколько делителей у этого числа.

Например, если n=4, на экране должно быть напечатано:

1 *

2 **

3 **

4 ***

In [2]:
n = int(input())

for i in range(1, n + 1):
    counter = 0

    for j in range(1, i+1):
        if i % j == 0:
            counter += 1

    print(f"{i} {'*' * counter}")
# --------------
# Пример вывода:
#
# n = 10
# 1 *
# 2 **
# 3 **
# 4 ***
# 5 **
# 6 ****
# 7 **
# 8 ****
# 9 ***
# 10 ****

10
1 *
2 **
3 **
4 ***
5 **
6 ****
7 **
8 ****
9 ***
10 ****

#№ 4.2.27

Выведите на экран (в строку) n первых простых чисел.

In [ ]:
n = # Удалите комментарий и допишите код

# Удалите комментарий и допишите код

# --------------
# Пример вывода:
#
# n = 10
# 2 3 5 7 11 13 17 19 23 29

#№ 4.2.28

Составьте программу для нахождения всех натуральных решений уравнения x^2+y^2+z^2=k^2, где x,y,z∈[1,30], а k вводится с клавиатуры.

In [ ]:
k = # Удалите комментарий и допишите код

# Удалите комментарий и допишите код

# --------------
# Пример вывода:
#
# k = 30
# x =  4, y = 10, z = 28
# x =  4, y = 20, z = 22
# x =  4, y = 22, z = 20
# x =  4, y = 28, z = 10
# x = 10, y =  4, z = 28
# x = 10, y = 20, z = 20
# x = 10, y = 28, z =  4
# x = 20, y =  4, z = 22
# x = 20, y = 10, z = 20
# x = 20, y = 20, z = 10
# x = 20, y = 22, z =  4
# x = 22, y =  4, z = 20
# x = 22, y = 20, z =  4
# x = 28, y =  4, z = 10
# x = 28, y = 10, z =  4